/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&bt BT_CLR_ALL  &sys_reset  &sys_reset  &sys_reset  &sys_reset  &sys_reset    &none  &none       &none       &none       &none       &none
&sys_reset      &sys_reset  &sys_reset  &sys_reset  &sys_reset  &sys_reset    &none  &sys_reset  &sys_reset  &sys_reset  &none       &none
&sys_reset      &sys_reset  &sys_reset  &sys_reset  &sys_reset  &sys_reset    &none  &sys_reset  &sys_reset  &sys_reset  &sys_reset  &sys_reset
                                        &sys_reset  &sys_reset  &sys_reset    &none  &none       &none
            >;
        };
    };
};
