/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&caps_word  &sys_reset  &sys_reset  &kp W       &sys_reset  &sys_reset    &none  &none       &none       &kp C       &none       &none
&sys_reset  &sys_reset  &kp A       &sys_reset  &sys_reset  &sys_reset    &none  &sys_reset  &kp B       &sys_reset  &none       &none
&sys_reset  &sys_reset  &sys_reset  &sys_reset  &kp S       &sys_reset    &none  &sys_reset  &sys_reset  &sys_reset  &sys_reset  &sys_reset
                                    &sys_reset  &sys_reset  &sys_reset    &none  &none       &none
            >;
        };
    };
};
